In [1]:
import pandas as pd

In [2]:
vaxdist_df = pd.read_csv("COVID-19_Vaccinations_in_the_United_States_Jurisdiction.csv")
vaxdist_df

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,Administered_Dose1_Recip_5PlusPop_Pct,Series_Complete_5Plus,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus
0,02/10/2022,6,DE,2160535,96000,825380,1239155,0,221875,257266,...,85.9,650534.0,70.8,1705305.0,185552.0,235085.0,229599.0,363976.0,56309.0,650.0
1,02/10/2022,6,KS,5629435,253800,2126560,3249075,0,193231,229614,...,77.8,1733937.0,63.6,4362307.0,159910.0,206359.0,620046.0,988778.0,124426.0,687.0
2,02/10/2022,6,ID,3156470,155300,1214860,1786310,0,176629,211078,...,64.0,939074.0,56.2,2334835.0,139738.0,188912.0,324576.0,534320.0,79425.0,753.0
3,02/10/2022,6,US,674675725,30209400,246235940,398230385,0,203210,237964,...,80.6,213416104.0,68.3,545402676.0,174660.0,216059.0,74889969.0,121733824.0,16653790.0,138521.0
4,02/10/2022,6,WI,10856185,450400,4002040,6403745,0,186454,217133,...,74.9,3728081.0,67.9,9755611.0,177635.0,197675.0,1316149.0,2113668.0,297539.0,725.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27411,12/13/2020,51,AS,3900,0,0,0,0,7003,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27412,12/13/2020,51,LTC,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27413,12/13/2020,51,VI,975,0,0,0,0,931,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27414,12/13/2020,51,US,13650,0,0,0,0,4,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27415,12/13/2020,51,GU,3900,0,0,0,0,2353,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
Janssen_allo = pd.read_csv("COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Janssen.csv")
Janssen_allo

         Jurisdiction Week of Allocations  1st Dose Allocations
0         Connecticut          05/10/2021                  6400
1               Maine          05/10/2021                  2500
2       Massachusetts          05/10/2021                 12300
3       New Hampshire          05/10/2021                  2500
4        Rhode Island          05/10/2021                  2000
..                ...                 ...                   ...
499            Alaska          03/01/2021                  8900
500             Idaho          03/01/2021                 13300
501            Oregon          03/01/2021                 34400
502        Washington          03/01/2021                 60900
503  Federal Entities          03/01/2021                139200

[504 rows x 3 columns]

In [5]:
Pfizer_allo = pd.read_csv("COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Pfizer.csv")
Pfizer_allo

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,06/21/2021,54360,54360
1,Maine,06/21/2021,21420,21420
2,Massachusetts,06/21/2021,104580,104580
3,New Hampshire,06/21/2021,21420,21420
4,Rhode Island,06/21/2021,17280,17280
...,...,...,...,...
1759,Virginia,12/14/2020,72150,72150
1760,Washington,12/14/2020,62400,62400
1761,West Virginia,12/14/2020,16575,16575
1762,Wisconsin,12/14/2020,49725,49725
1763,Wyoming,12/14/2020,4875,4875

In [6]:
Moderna_allo = pd.read_csv("COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Moderna.csv")
Moderna_allo

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,06/21/2021,41220,41220
1,Maine,06/21/2021,15800,15800
2,Massachusetts,06/21/2021,79500,79500
3,New Hampshire,06/21/2021,15800,15800
4,Rhode Island,06/21/2021,12480,12480
...,...,...,...,...
1696,Virginia,12/21/2020,146400,146400
1697,Washington,12/21/2020,128000,128000
1698,West Virginia,12/21/2020,32600,32600
1699,Wisconsin,12/21/2020,101000,101000
1700,Wyoming,12/21/2020,10000,10000